*{
    font-family: 'Satoshi', sans-serif;
    color: #1f1f1f;
}
.backBox{
    background-color: #E23E57;
    border-radius: 20px;
    padding: 30px 10px;
}
.transferBox{
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    justify-content: center;
    background-color: rgba(218, 218, 218, 0.9);
    border-radius: 20px;
    color: black;
    margin-bottom: 10px;
}
.infoBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.moneyBox{
    display: flex;
    gap: 10px;
}
p{
    margin: 5px;
}
.infoAccount{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dineroBox{
    background-color:rgb(218, 218, 218);
    padding:0 40px;
    color: #1f1f1f;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.opcionesBox{
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    gap: 30px;
    margin-bottom: 60px;
}
.opBox{
    background-color: #ffffff;
    color: #1f1f1f;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.fa-solid{
    font-size: 2rem;
}
.selectMonedaBox{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    margin-bottom: 30px;
}
.selectMonedaBox >*{
    background-color: #ffffff;
    color: #1f1f1f;
    font-weight: 400;
    padding: 6px;
    border-radius: 10px;
}
.home{
    background-color: #F0F0F0;
    margin-top: 30px;
}