body{
    background-color: #1f1f1f;
}
.imgContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.img{
    width: 70%;
}
.btnContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 20px;
    margin-top: 200px;
}
.btn{
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    font-size: 1.3rem
}
.signup{
    background-color: rgb(159, 97, 218);
    color: aliceblue;
    font-weight: bold;
}