body{
    background-color: #1f1f1f;
    color: aliceblue;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-top: 40%;
}
.input{
    padding: 10px;
    border-radius: 15px;
    background-color: #d1d1d1;
}
.send{
    width: 50%;
    padding: 10px 5px;
    border-radius: 25px;
    margin: auto;
    margin-top: 30px;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}