.formPrestamo{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 25px;
}
input:focus{
    outline: none;
}
input::placeholder{
    color: #E23E57;
}
.input{
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 3rem;
    color: #E23E57;
}
.submitPrestamo{
    width: 40%;
    margin: auto;
    border-radius: 15px;
    border: 1px grey solid;
    padding: 5px;
}
.selectCurr{
    display: flex;
}
.selectCurr >*{
    background-color: #F6F6F6;
    padding: 5px;
    border-radius: 5px;
}
.disponiblePrestamo{
    font-size: 2rem;
}
.opcionesPrestamo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}