.formPrestamo{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    gap: 25px;
}
.input:focus{
    outline: none;
}
.input::placeholder{
    color: white;
}
.input{
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 3rem;
    color: white;
}
.submitPrestamo{
    width: 40%;
    margin: auto;
    border-radius: 15px;
    border: 1px grey solid;
    padding: 5px;
}
.selectCurr{
    display: flex;
}
.selectCurr >*{
    background-color: #F6F6F6;
    padding: 5px;
    border-radius: 5px;
}
.disponiblePrestamo{
    font-size: 2rem;
}
.opcionesPrestamo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.opcionesPrestamo>*{
    color: #F6F6F6;
}
.imgNotes{
    display: none;
}
.selectCurr>*{
    cursor: pointer;
}
.assetsBox >*{
    color: #F6F6F6;
}
@media screen and (min-width: 768px){
    .formPrestamo{
        width: 30%;
    }
    .prestamoBox{
        margin-top: 5%;
        display: flex;
        align-items: center;
    }
    .assetsBox{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgNotes{
        display: initial;
        width: 70%;
    }
    .assetsBox>* {
        color: #1f1f1f;
    }
    .opcionesPrestamo>* {
        color: #1f1f1f;
    }
    .input{
        color: #E23E57;
    }
    .inputPrestamo::placeholder{
        color: #E23E57;
    }
}