.dropdown{
    padding: 5px;
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 1.3rem;
}
.formTransferir{
    display: flex;
    flex-direction: column;

}
.formTransBox, .transferirBox{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cbu{
    padding: 10px;
    font-size: 1.2rem;
}
.cbu::placeholder{
    color: #E23E57;
}
.cancelBox{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.cancelBtn, .homeBtn{
    padding: 5px 50px;
    margin-top: 20px;
}
.texto{
    color: aliceblue;
}
.cbu:focus{
    outline: none;
}
.inputTransferir{
    border: none;
    background-color: transparent;
    text-align: center;
    font-size: 3rem;
    color: white;
}
.inputTransferir::placeholder{
    color: white;
}
.inputTransferir:focus{
    outline: none;
}
.transferirBoxInside{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.submitTransferir{
    margin: auto;
    padding: 5px 55px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
}
.imgTrans{
    display: none;
}
.transferBox {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 800;
    justify-content: space-around;
    background-color: rgba(218, 218, 218, 0.9);
    border-radius: 10px;
    color: black;
    margin-bottom: 10px;
    padding: 0 20px;
    -webkit-box-shadow: -1px 2px 11px 0px rgba(61, 60, 61, 1);
        -moz-box-shadow: -1px 2px 11px 0px rgba(61, 60, 61, 1);
        box-shadow: -1px 2px 11px 0px rgba(61, 60, 61, 1);
}
.mainContainer{
    margin-top: 40%;
}
@media screen and (min-width: 768px){
    .transMainBox {
        display: flex;
        align-items: center;
        gap: 200px;
        margin-top: 10%;
        margin-left: 10%;
    }
    .formTransBox, .transferirBox{
        position: initial;
        transform: translate(-40%, 0%);
    }
    .imgTrans{
        display: initial;
    }
    .texto{
        color: black;
    }
    .mainContainer {
        margin-top: 9%;
    }
    .inputTransferir{
        color: #E23E57;
    }
    .inputTransferir::placeholder{
        color: #E23E57;
    }
}
